{% extends "base.html" %}

{% block title %} Log In {% endblock title %}

{% block header %}
<section id="hero">	
   	  
		<div class="row hero-content">

			<div class="twelve columns flex-container">

			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<form action="/login/" method="post">
								{% csrf_token %}
								{{ form }}
								<input type="submit" value="Submit" />
								</form>

								<h2>Don't have an account yet? Click <a href="/register/">here</a> to register!</h2>
							</div>						
					   </li>		              

				   </ul>

			   </div> <!-- .flexslider -->				   

	      </div> <!-- .flex-container -->      

		</div> <!-- .hero-content -->	   

    </section> <!-- #hero -->
{% endblock %}