{% extends "base.html" %}

{% block title %} Offer {% endblock %}

{% block page %} {{ offer.user.username }} wants to share a meal with you! {% endblock %}

{% block content %}
<section id="content">
	<!--This template is the one that should offer the comprehensive description of an offer of food-->

	<p> Username of peep who wants to give you food: {{ offer.user.username }} <br>

	Here's a description of what we wants to give you: {{ offer.description }} <br>

	Here's how much he wants to charge you: ${{ offer.price }} <br>

	Here's when he wants to give it to you: {{ offer.offer_datetime }} <br>
	<!--Melissa, keep in mind that the date isn't formatted there, so just lookup how to format it, it shouldn't be that difficult. -Francisco -->

	</p>
</section>
{% endblock %}