{% extends "base.html" %}

{% block title %} Thanks! {% endblock title %}

{% block header %}
	<section id="hero">	
   	  
		<div class="row hero-content">

			<div class="twelve columns flex-container">

			   <div id="hero-slider" class="flexslider">

				   <ul class="slides">

					   <!-- Slide -->
					   <li>
						   <div class="flex-caption">
								<h1>Thanks for registering on our site! Your account will be ready to use as soon as you confirm your account through email.</h1>	
								<p><a class="button stroke smoothscroll" href="/#hero">Return Home</a></p>																   
							</div>						
					   </li>		              

				   </ul>

			   </div> <!-- .flexslider -->				   

	      </div> <!-- .flex-container -->      

		</div> <!-- .hero-content -->	   

    </section> <!-- #hero -->
{% endblock %}